* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: 0.05s all ease-in-out;
}

img {
    object-fit: contain;
    overflow: hidden;
}

:root {
    --font: "Nunito", Helvetica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --hash: #e2e2e2;
    --white: #ffffff;
    --light-blue: #6dbde2;
    --yellow: #eaee00;
    --black: #000000;
    --navy-blue: #0e224d;
    --orange: #ff5a00;
    /* --orange: #f55904; */
    --brown: #c9500f;
    --purple: #5a228b;
    --purple-dark: #370464f6;
    --purple-trans: rgba(90, 34, 139, 0.94);
}

body,
html {
    background-color: var(--hash);
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style: none;
}

p {
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2rem;
}

/* This is the Heading Section Start */

.heading-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    /* border: 2px solid blue; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    /* box-shadow: var(--brown) 0px 10px 30px -10px; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    /* border: 2px solid rgb(33, 168, 139); */

}

.logo-c {
    width: 18vw;
}

/* 
.logo-u {
    width:2vw;
   
} */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: var(--white);
    padding: 0.4rem;
    font-weight: bolder;
    transition: 0.4s all ease-in-out;
    border-bottom: solid 0.2rem var(--purple);

}

.menu a:hover {
    transition: 0.4s all ease-in-out;
    color: var(--orange);
    border-bottom: solid 0.2rem var(--hash);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */


}

.last_menu {
    color: var(--white);
    /* color:var(--purple-trans); */
    background-color: var(--purple-dark);
    /* background-color: var(--white); */
    border-bottom: solid 0.2rem var(--hash);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.8s all ease-in-out;
    font-weight: bolder;
    margin: 0rem 0.6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.last_menu:hover {
    color: var(--purple-dark);
    background-color: var(--white);
    transition: 0.5s all ease-in-out;
    border-bottom: solid 0.2rem var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobile menu */
.mobile-nav-container {
    border-radius: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--purple-dark);
    /* border: solid 0.2rem var(--purple-dark); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.span {
    display: flex;
    width: 2.5em;
    height: 0.3rem;
    background-color: var(--orange);
}

.span::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 0.3rem;
    background-color: var(--orange);
    position: absolute;
    top: 14px;
    left: 13px
}

.span::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 0.3rem;
    background-color: var(--orange);
    position: absolute;
    bottom: 14px;
    left: 13px;
}

.d-none {
    display: none;
}

.overlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--purple-trans);
    transition: 0.5s all ease-in-out;
}

.closebtn {
    color: var(--white);
    position: relative;
    right: 0.1rem;
    font-size: 3rem;
    padding: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    /* display:flex;
    justify-content:center;
    align-items: center; */
    border-radius: 1rem;
}

.closebtn:hover {
    color: var(--orange);
    transition: all 0.3s ease-in-out;
}

.overlay a {}

.overlay-content {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    top: 6%;
    position: relative;
    left: 2%;
    font-size: 2rem;
}

.overlay-content a {
    color: var(--white);
    padding: 0.5rem;
    margin: 0.5rem;
    border-bottom: solid 0.2rem var(--purple-trans);
    border-left: solid 0.6rem var(--purple-trans);

}

.overlay-content a:hover {
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom: solid 0.2rem var(--hash);
    border-left: solid 0.7rem var(--orange);
    border-right: solid 0.7rem var(--orange);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    transition: all 0.3s ease-in-out;
}


/* This is the Heading Section End */


/*  This is the carousel section start*/

/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
    width: 100%;
    /* height: 62.5rem; */
    position: relative;
    /* margin: auto; */
    overflow: hidden;
    /* border: solid 2px blue; */
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    object-fit: contain;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 3rem; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1rem;
    border: solid 0.5rem var(--orange);
    border-left-color: var(--purple-dark);
    border-bottom-color: var(--purple-dark);
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
}

.center p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--white);
    text-align: center;
    padding: 1rem;
}

.center .title {
    padding-top: 0.2rem;
    ;
    text-align: center;
    color: var(--white);
    /* color:var(--orange); */
    text-transform: uppercase;
}

.center .f-row a {
    background-color: var(--white);
    color: var(--purple-dark);
    border-bottom: 0.4rem solid var(--purple-dark);

}

.center .f-row a:hover {
    background-color: var(--purple-dark);
    color: var(--white);
    border-bottom: 0.4rem solid var(--white);

}

.left {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    /* font-size: 1.7rem; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1rem;
    border: solid 0.5rem var(--orange);
    border-left-color: var(--purple-dark);
    border-bottom-color: var(--purple-dark);
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
}

.left .title {
    padding-top: 1.7rem;
    ;
    text-align: center;
    color: var(--purple-dark);
    text-transform: uppercase;
}

.left p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--orange);
    text-align: center;
    padding: 1rem;
}

.right {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-2%, -50%);
    /* font-size: 3rem; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1rem;
    border: solid 0.5rem var(--orange);
    border-left-color: var(--purple-dark);
    border-bottom-color: var(--purple-dark);
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.right .title {
    padding-top: 1.7rem;
    ;
    text-align: center;
    color: var(--purple-dark);
    text-transform: uppercase;
}

.right p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--orange);
    text-align: center;
    padding: 1rem;
}

.f-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    /* padding: 1rem; */
    width: 70%;
    /* margin: 1rem; */
    /* border: 2px solid blue; ; */
}

.f-row a:hover {
    background-color: var(--white);
    color: var(--purple-dark);
    font-weight: bolder;
    padding: 1rem;
    border-bottom: 0.4rem solid var(--purple-dark);
    transition: 0.8s all ease-in-out;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    ;
}

.f-row a {
    background-color: var(--purple-dark);
    color: var(--white);
    font-weight: bolder;
    border-bottom: 0.4rem solid var(--white);
    transition: 0.5s all ease-in-out;
    padding: 1rem;
    /* border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem; */
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

/* .advert-left{
    position: absolute;
    top:10%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
} */

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    margin-top: -10rem;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    transition: 0.2s all ease-in-out;
    /* border-radius: 0 3rem 3rem 0px; */
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: var(--purple-dark);
    font-size: 1.42rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* This is the carousel section end */


/* Content starts here */
.content-section {
    display: flex;
    flex-flow: column wrap;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
    margin: 6rem 0rem;
}

/* Institutional starts here  */

.institutional-container {
    width: 80%;
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.title {
    margin: 2rem;
    /* margin-bottom: 1rem; */
    font-size: 2rem;
    color: var(--purple);
    text-transform: uppercase;

}

hr {
    width: 3rem;
    height: 0.2rem;
    background-color: var(--orange);
    position: relative;
    top: -2rem;
    border: none
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    /* border:solid 2px yellow; */
}

.card {
    width: 30%;
    border-radius: 2rem;
    transition: 0.5s all ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.card img {
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    ;
}

.card h4 {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    color: var(--purple);
}

.card p {
    margin: 0rem 2rem;
    padding: 0rem 1rem;
    text-align: justify;
}

.more {
    margin: 2rem;
    padding: 1rem;
    /* border: solid blue 2px; */
    text-align: right;
    transition: 0.5s all ease-in-out;

    ;
}

.more a {
    /* border: solid red 2px; */
    padding: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--hash);
    color: var(--orange);
    transition: 0.5s all ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom: 0.4rem solid var(--hash);
    border-radius: 1rem;
}

.more a:hover {
    /* border: solid red 2px; */
    padding: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--purple-dark);
    color: var(--white);
    transition: 0.5s all ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom: 0.4rem solid var(--white);
    border-radius: 1rem;
}

/* Institutional Ends here */

/* Particular and Empresas Start here */
.particular-empresa-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: var(--orange); */
    padding: 2rem 0rem;
    /* border: 2px solid blue; */
    ;
}

.part-emp-container hr {
    background-color: var(--purple)
}

.part-emp-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* border: 2px solid green; */
    ;
}

.particular-container,
.empresa-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    /* border: 2px solid rgb(34, 34, 38);  */

}

.particular-sub-container,
.empresa-sub-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* border: 2px solid red; */
    width: 100%;
}

/* .bd {
    border: solid purple;
    width: 30%;
}

.bd2 {
    border: solid orange;
    width: 100%;
} */

.particular,
.empresa {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* border: 2px solid rgb(48, 221, 169);  */

}

.particular a,
.empresa a {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.4s all ease-in-out;
    /* background-color: var(--purple-dark); */
    background-color: var(--hash);
    color: var(--black);
    /* color: var(--white); */
    border-bottom: solid 0.2rem var(--hash);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    ;
}

.particular a {
    background-color: var(--hash);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: var(--black);

}

.particular a:hover {
    background-color: var(--purple-dark);
    color: var(--white);
    transition: all 0.5s ease-in-out;
}

.empresa a:hover {
    background-color: var(--orange);
    color: var(--black);
    transition: all 0.5s ease-in-out;
}

.img-container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 0.2vw solid var(--orange);
    border-bottom-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


    /* background-color: var(--purple-dark); */
}

.particular .img-container {
    border: 0.2vw solid var(--purple);
    border-bottom-color: transparent;
}

.iunibanco {
    text-transform: none;
}

.img-container img {
    border-radius: 100%;
    margin: 2rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.empresa-container .hor-divider,
.particular-container .hor-divider {

    position: static;
    margin: 1rem;
    width: 70%;
    height: 0.2rem;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: var(--orange);
}

.empresa-container .ver-divider,
.particular-container .ver-divider {
    position: absolute;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: var(--orange);
    top: 10rem;
    width: 0.2rem;
    height: 30.1rem;
}

.particular-container .ver-divider,
.particular-container .hor-divider {
    background-color: var(--purple);
}

.divider {
    border: none;
    /* border: 2px solid greenyellow; */
    width: 0.2rem;
    height: 30rem;
    left: 50%;
    top: 23%;
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Particular and Empresas Ends here */

/* Investimento starts here */

.investment-section,
.poupanca-section,.sobre-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* margin: 6rem 0rem; */
    /* border: 2px solid blue; */
    width: 100%;
}

.investment-container,
.poupanca-container,.sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 80%;
    position: relative;
    /* border: 2px solid yellow; */
}


.investment,
.poupanca,.sobre {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 20rem; */
    /* overflow: hidden; */
    /* border: 2px solid brown; */
}
.poupanca,.sobre{
    flex-flow: row-reverse wrap;
}

.investment-img-container,.poupanca-img-container,.sobre-img-container {
    width: 45%;
    display: flex;
}

/* .poupanca-img-container {
    width: 45%;
    display: flex;
} */

.investment-img-container img {
    border-top-left-radius: 8rem;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    border-top-right-radius: 27rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

    /* border-radius: 100%; */
    /* width: 45%; */
    /* border: solid blue 2px; */
    /* display: flex; */
}

.poupanca-img-container img,.sobre-img-container img {
    /* border-top-left-radius: 8rem; */
    border-top-right-radius: 27rem;

    /* border-bottom-left-radius: 8rem; */
    border-bottom-right-radius: 8rem;

    border-bottom-left-radius: 8rem;

    /* border-top-right-radius:27rem; */
    border-top-left-radius: 27rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

    /* border-radius: 100%; */
    /* width: 45%; */
    /* border: solid blue 2px; */
    /* display: flex; */
}

.sobre-img-container img {
    /* border-top-left-radius: 8rem; */
    border-top-right-radius: 12rem;

    /* border-bottom-left-radius: 8rem; */
    border-bottom-right-radius: 1rem;

    border-bottom-left-radius: 10rem;

    /* border-top-right-radius:27rem; */
    border-top-left-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

    /* border-radius: 100%; */
    /* width: 45%; */
    /* border: solid blue 2px; */
    /* display: flex; */
}

.investment hr,
.poupanca hr,.sobre hr {
    top: 0rem;
    width: 0.2rem;
    height: 15rem;
}

.poupanca hr {
    /* top: 0rem;
    width: 0.2rem;
    height: 15rem; */
    background-color: var(--purple-dark);

}

.sobre hr{
    background-color: var(--orange);
}

.investment-text,
.poupanca-text,.sobre-text {
    width: 45%;
    /* border: solid 2px orchid; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    ;
}

.investment-text p,
.poupanca-text p,.sobre-text p {
    padding: 0rem 3rem;
    text-align: center;
    font-size: 1.3rem;
    ;
    /* font-weight: bold; */
}

.invest-link,.poupa-link,.sobre-link {
    /* padding: 1.5rem; */
    margin: 2rem 0rem;
    text-align: center;
    width: 100%;
    padding: 1rem 3rem;
    /* border: solid blue 2px; */
}

.invest-link a,
.poupa-link a,.sobre-link a {
    padding: 1rem;
    /* margin: 2rem; */
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--purple-dark);
    color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom: 0.4rem solid var(--hash);
    border-radius: 1rem;
    transition: 0.5s all ease-in-out;
    /* border: 2px solid blue; */
}

.invest-link a:hover,
.poupa-link a:hover,.sobre-link a:hover {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--white);
    color: var(--purple-dark);
    transition: 0.5s all ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom: 0.4rem solid var(--purple-dark);
    border-radius: 1rem;
}

/* Investimento Ends here */
/* Content Ends here here */


/* footer starts here  */
.footer-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem 0rem 0rem 0rem;
    padding: 1.2rem 0rem;
    position: relative;
    background-color: var(--purple-dark);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* border: 2px solid blue; */
}
.footer-section hr {
    top: 0rem;
    background-color: var(--hash);
    width: 80%;
    /* height: 80%; */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 2rem 0rem;
    width: 80%;
    /* border: solid 2px green; */
}

.footer-twin {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem 0rem 0rem;
    /* border: 2px solid yellow; */
    width: 48%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.cambio-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid greenyellow; */
    width: 100%;
}

.footer-h3 {
    font-size: 1.6rem;
    color: var(--white);
}

.cambio-sub-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.date {
    /* border: solid 2px burlywood; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    color: var(--hash);
    padding: 1rem;
    justify-content: center;
    /* font-size: 0.8rem; */
}

.cambio {
    display: flex;
    flex-flow: column wrap;
}

.cambio-title {
    display: flex;
    flex-flow: row;
}

.cambio-title h4 {
    /* margin: 1rem 1rem; */
    border: 2px var(--white) solid;
    padding: 1rem 2rem;
    color: var(--white);

}

.pais {
    display: flex;
    flex-flow: column wrap;
}

.pais-cambio {
    display: flex;
    border: 2px solid var(--white);
    justify-content: space-around;
    /* margin: 0.7rem; */
    padding: 0.7rem;
    color: var(--white);
}

.venda-cambio {
    display: flex;
    border: 2px solid var(--white);
    justify-content: space-around;
    padding: 0.7rem;

    /* margin: 0.7rem; */
    color: var(--white);
}

.compra-cambio {
    display: flex;
    border: 2px solid var(--white);
    justify-content: space-around;
    padding: 0.7rem;

    /* margin: 0.7rem; */
    color: var(--white);
}


.news-letter {
    display: flex;
    flex-flow: column wrap;
    /* border: 2px solid greenyellow; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

#newsletter-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#newsletter-form input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
}

#newsletter-form button[type=submit] {

    font-size: 1rem;
    margin: 0.3rem;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--hash);
    border-radius: 0.8rem;
    color: var(--purple-dark);
    text-transform: capitalize;
    font-weight: bolder;
    transition: 0.5s all ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom: 0.4rem solid var(--hash);
    /* border-radius: 1rem; */
}

#newsletter-form button[type=submit]:hover {
    margin: 0.3rem;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--purple-dark);
    border-radius: 0.8rem;
    color: var(--white);
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bolder;
    transition: 0.5s all ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom: 0.4rem solid var(--hash);
}

#newsletter-form p {
    font-size: 1rem;
    padding: 0rem 4rem;
    text-align: center;
    color: var(--white);
}

#newsletter-form input[type=email] {
    border-radius: 0.5rem;
    transition: 0.5s all ease-in-out;
    color: var(--purple-dark);
    resize: none;
    border: 0.4rem solid transparent;

}

#newsletter-form input[type=email]:focus {
    border-radius: 0.5rem;
    transition: 0.5s all ease-in-out;
    border: 0.4rem solid var(--orange);
}



.footer-twin hr {
    width: 90%;
    margin: 0.5rem;
}


.contact {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 48%;
    padding: 2rem;
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* .line{
    width: 100%;
    height: 100%;
    border: 2px solid orangered;
} */
#conta-hr {

    /* position: fixed; */
    width: 0.2rem;
    height: 40rem;
    background-color: var(--orange);
}



.form-container {
    margin-top: 0.5rem;
    position: relative;
}

.m-form input,
textarea {
    width: 100%;
    padding: 0.5rem 1.1rem;
    /* margin: 0.8rem 0; */
    color: var(--purple-dark);
    border-radius: 0.5rem;
    font-size: 1.4rem;
    resize: none;
    transition: 0.5s all ease-in-out;
    border: 0.4rem solid transparent;

}

.m-form input:focus,
textarea:focus {
    transition: 0.5s all ease-in-out;
    border: 0.4rem solid var(--orange);
}

.m-form {
    margin: 1.3rem 0;
}

form {
    font-size: 1.3rem;
}

.submit button[type=submit] {
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    /* width: 80%; */
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--purple-dark);


    transition: 0.5s all ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom: 0.4rem solid var(--hash);
    border-radius: 1rem;
}

button[type=submit]:hover {
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--purple-dark);
    background-color: var(--white);


    transition: 0.5s all ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom: 0.4rem solid var(--hash);
    border-color: var(--hash);
}

.submit {
    width: 100%;
    /* margin: 1rem; */
    text-align: center;
}

label {
    color: var(--white);
    /* border: 1.5rem; */
}

/* dark footer starts here */

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: var(--orange);
}

.dark-footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.reserved p {
    color: var(--purple-dark);
    font-size: 1rem;
    font-weight: bolder;
}

.social-link {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.social-link a {
    /* margin:0.3rem; */
    padding: 0.3rem;
    /* border: solid 2px greenyellow; */
}

.social-link a img {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin: 0.5rem;
}


/* dark footer starts here */

/* Media Query begins */

/* Default media query start */

@media screen and (max-width:1327px) {
    .menu {
        display: none;
    }

    .flex {
        display: none;
    }
}

@media screen and (min-width:1328px) {
    #mobile-nav-link {
        display: none;
    }
}

/* Default media query end */
@media screen and (max-width:412px) {
    p {
        line-height: 0.8rem;
        text-align: justify;
        text-justify: inter-word;
        font-size: 0.7rem;
    }

    /* Header Section */
    nav {
        justify-content: flex-start;
        padding: 0.5rem;
    }

    .logo-c {
        width: 45vw;
    }

    .mobile-nav-container {
        height: 2rem;
        width: 2rem;
        border-radius: 0.5rem;
    }

    .span {
        width: 1.5rem;
        height: 0.2rem;
    }

    .span::before {
        width: 1rem;
        height: 0.2rem;
        top: 0.5rem;
        left: 0.53rem;
        ;
    }

    .span::after {
        width: 1rem;
        height: 0.2rem;
        bottom: 0.5rem;
        left: 0.53rem;
        ;
    }

    /* come back to this .closebtn later */
    .closebtn {
        right: 0.5rem;
        font-size: 2.5em;
        padding: 0.2rem;
        width:2.5rem;
        height: 2.5rem
    }

    .overlay-content a{
        font-size: 0.8rem;
        margin: 0.2rem;
        padding: 0.2rem;
    }
    .overlay-content a:hover{
        font-size: 0.8rem;
        margin: 0.2rem;
        padding: 0.2rem;
    }

    /* Media query for carousel section starts here */
    .slideshow-container {
        display: none;
    }

    #slide-bottom-dots {
        display: none;
    }

    /* Media query for carousel section ends here */

    /* This is where the content section starts */

    .content-section {
        margin: 0rem;
        /* border: 2px solid blue; */
    }

    /* Media Query for Institutional starts here */
    .title {
        margin: 0.2rem;
        font-size: 1rem;
    }

    hr {
        width: 1rem;
        height: 0.05rem;
        top: -0.23rem
    }

    .card-container {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .card {
        width: 100%;
        margin-bottom: 0.7rem;
        ;
    }

    .card h4 {
        padding: 0.5rem;
        font-size: 0.78rem;
        ;
    }

    .card p {
        margin: 0rem 0.5rem;
        /* font-size: 0.7rem; */
    }

    .more {
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .more a {
        padding: 0.3rem;
        font-size: 0.7rem;
        border-bottom: 0.14rem solid var(--hash);
        border-radius: 0.5rem;
    }

    .more a:hover {
        padding: 0.3rem;
        font-size: 0.7rem;
        border-bottom: 0.14rem solid var(--white);
        border-radius: 0.5rem;
    }

    /* Media Query for Institutional Ends here */

    /* Media Query for particular and Empresas start here */

    /* .particular-empresa-section {
        padding: 1rem 0rem;
    } */

    .part-emp-container {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .particular-container,
    .empresa-container {
        width: 100%;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        margin: 2rem 0rem;
    }

    .particular-sub-container,
    .empresa-sub-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .particular,
    .empresa {
        width: 100%;
    }

    .particular a,
    .empresa a {
        font-size: 0.7rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        border-bottom: solid 0.14rem var(--hash);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .img-container {
        margin: 0.3rem 0rem;
        border: 0.1vw solid var(--orange);
        border-bottom-color: transparent;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .particular .img-container {
        border: 0.1vw solid var(--purple);
        border-bottom-color: transparent;
        margin-top: 1rem;
    }

    .img-container img {
        margin: 0.8rem;
    }

    .empresa-container .hor-divider,
    .particular-container .hor-divider,
    .empresa-container .ver-divider,
    .particular-container .ver-divider {
        display: none;
    }

    .divider {
        width: 10rem;
        height: 0.2rem;
        left: 10%;
        right: 10%;
        top: 50%;
        bottom: 50%;
        margin: 1rem 0rem;
    }

    /* Media Query for particular and Empresas ends here */

    /* Media Querty for Investimento and poupanca starts here */
    .poupanca-section,.sobre-section{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .investment-container,.poupanca-container,.sobre-container{
        flex-flow: column wrap;
    }

    .investment,.poupanca,.sobre{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .investment-img-container,.poupanca-img-container,.sobre-img-container{
        width: 100%;
    }
    .investment hr,.poupanca hr,.sobre hr{
        width: 10rem;
        height:0.2rem;
        margin: 0.5rem 0rem;
    }
    .investment-text,.poupanca-text,.sobre-text{
        width: 100%;
    }
    .investment-text p,.poupanca-text p,.sobre-text p{
        padding: 0rem 0.2rem;
        font-size: 0.7rem;
    }

    .invest-link,.poupa-link,.sobre-link{
        padding: 0.5rem 0rem;
        margin:0.2rem 0rem;
    }

    .invest-link a,.poupa-link a,.sobre-link a{
        padding: 0.5rem;
        font-size: 0.7rem;
        border-radius: 0.5rem;
        border-bottom: 0.14rem solid var(--hash);
        width: 100%;
    }

    .invest-link a:hover,
.poupa-link a:hover,.sobre-link a:hover{
    padding: 0.5rem;
    font-size: 0.7rem;
    border-bottom: 0.14rem solid var(--purple-dark);
    border-radius: 0.5rem;
}
.poupanca-container,.sobre-container{
    margin-top: 1rem 0rem;
}

/* Media Querry for Investimento and poupanca ends here */

/* Media Query for footer section starts here */
.footer-section{
    margin-top: 1rem;
}

.footer-container{
    flex-flow: column wrap;
    justify-content: center;
    /* margin: 0rem; */
}
.footer-twin{
    padding: 0rem;
    width: 100%;
}

#newsletter-form button[type=submit]{
    font-size: 0.7rem;
}






#newsletter-form{
    flex-flow: column wrap;
}
#newsletter-form input{
    font-size: 0.7rem;
    padding: 0.2;
    margin: 0.2rem 0rem;
}

#newsletter-form button[type=submit]{
    font-size: 0.7rem;
    margin: 0.1rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border-bottom: 0.14rem solid var(--hash);
}
#newsletter-form button[type=submit]:hover{
    margin: 0.1rem;
    padding: 0.1rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    border-bottom: 0.14rem solid var(--hash);
}

#newsletter-form p{
    font-size: 0.7rem;
    padding: 0.5rem;
}

#newsletter-form input[type=email]{
    border: solid 0.2rem transparent;
}
#newsletter-form input[type=email]:focus{
    border: 0.2rem solid var(--orange);
}

.footer-twin{
    /* width: 100%; */
}

.footer-twin hr{
    margin:0.8rem;
}

.footer-h3{
    font-size: 0.8rem;
}
.date{
    padding: 0.3rem;
    font-size: 0.7rem;
}

.cambio-title h4{
    border: 0.1px var(--white) solid;
    padding: 0.5rem;font-size: 0.78rem;
}

.pais-cambio{
    border: 0.1px var(--white) solid;
    padding: 0.2rem;
}

.venda-cambio{
    border: 0.1px var(--white) solid;
    padding: 0.2rem;
}

.compra-cambio{
    border: 0.1px var(--white) solid;
    padding: 0.2rem;
}

#conta-hr{
    width: 70%;
    height: 0.2rem;
    margin: 2rem 0rem;;
}

.contact{
    width: 100%;
    padding: 0.5rem;
}

.m-form input,textarea{
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
    border:0.2rem solid transparent;
}

.m-form input:focus,textarea:focus{
    border:0.2rem solid var(--orange)
}

.m-form{
    margin: 0.5rem 0rem;;
}
form{
    font-size: 0.7rem;
}

.submit button[type=submit]{
    padding: 0.5rem;
    font-size: 0.7rem;
    border-bottom: 0.2rem solid var(--hash);
    border-radius: 0.5rem;
    ;
}

button[type=submit]:hover{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    border-bottom: 0.2rem solid var(--hash)
    ;
}
.submit{
    margin-top: 0.5rem;
}
.dark-footer-container{
    flex-flow: column-reverse wrap;
    justify-content: center;
    align-items: center;
}

.reserved p{
    font-size: 0.7rem;
    text-align: center;
}

.social-link a{
    padding:0.1rem;
}
.social-link a img{
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.1rem;
}


/* Media Query for footer section ends here */



    /* This is where the content section ends */



}

/* Media Query Ends */

/* footer ends here  */